body {
  color: var(--dark);
}

/* corrections */

input,
textarea,
select {
  background-color: var(--light) !important;
  color: var(--dark) !important;
}

hr {
  background: rgb(100, 100, 100);
}

.form-label {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

strong {
  text-transform: capitalize;
}

.btn {
  /* transition: 0.3s linear; */
  padding: 0.5rem 1rem !important;
  font-size: 1.1rem;
  border-radius: 5rem;
  text-transform: capitalize;
  font-weight: bold;
  /* box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5) !important; */
  /* letter-spacing: 0.08rem; */
}

.btn-sm {
  font-size: 1rem;
}

/* custom backgrounds */

.bg-header {
  background: url("/images/guest/bg-header.png");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-premium {
  background: url("/images/master/bg-premium.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-money {
  background: linear-gradient(45deg, #000000, rgb(70, 70, 70));
}

.bg-contain {
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
}

.bg-feature {
  background: var(--body);
}

.bg-video {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -2;
}

.bg-message {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

/* buttons */

.btn-social {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: solid 0.1rem var(--light);
  border-color: var(--light);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-lg {
  padding: 0.8rem 1.6rem !important;
  font-size: 1.2rem !important;
  text-transform: uppercase;
}

.hover-bg-main:hover {
  color: var(--light);
}

.anti-nav {
  height: 4.5rem;
}

.btn-step {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
  /* border: solid 0.1rem var(--main); */
  background: linear-gradient(90deg, var(--main), var(--main-dark));
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.ps-6 {
  padding-left: 4.5rem !important;
}

.sidebar-icon {
  width: 2.5rem;
}

.border-message {
  border: 1px solid #dee2e6;
  border-left: 0.5rem solid var(--main);
  border-radius: 0.25rem;
}

.underline {
  height: 0.1rem;
  border-radius: 0.5rem;
  width: 25%;
  margin: auto;
  background: linear-gradient(45deg, var(--main-light), var(--main));
}

li {
  margin-top: 0;
}

a.active {
  background: var(--main);
  color: var(--light);
}

select {
  -webkit-appearance: auto !important;
  /*webkit browsers */
  -moz-appearance: auto !important;
  /*Firefox */
  appearance: auto !important;
  /* modern browsers */
  border-radius: 0;
}

select::-ms-expand {
  display: block !important;
}

.icon-table {
  height: 1.3rem;
}
