:root {
  /* custom colors */
  --main: #dd0909;
  --main-light: #ff0000;
  --main-dark: #b71616;

  --main: #4c8bf5;
  --main-light: #659eff;
  --main-dark: #4379d7;

  --bg-body: rgb(231, 236, 238);

  /* default colors */
  --black: rgb(20, 20, 20);
  --darkgray: rgb(70, 70, 70);
  --blue: #0d6efd;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #d63384;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #198754;
  --teal: #20c997;
  --cyan: #0dcaf0;
  --white: #fff;
  --lightgray: #e8e8e8;
  --gray-dark: #343a40;
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;

  /* font families */
  --font-numeric: "Exo 2", sans-serif;
  --font-body: "Nunito Sans", sans-serif;
}
